body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-label{
  margin-right: 10px;
}

.form-subtitle{
  font-family: monospace;
  letter-spacing: 1.4px;
}

.form-couplet{
  padding-bottom: 25px;
}

.form-date{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-spacing{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.flexBoxColumn{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-right: 1rem;
  justify-content: left;
  align-items: left;
  text-align: left;
  /* margin-left: 2%; */
}

.flexBoxRow {
  margin: 10px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  text-align: left;
}

.flexBoxRowNav{
  display: flex;
  width: 100%;
  height: 80px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.flexBoxRowNavTabs {
  justify-content: end;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.navFont{
  color: rgb(113, 77, 22);
  font-weight: 500;
  margin-left: 4rem;
  font-size: 18px;
  font-family: fantasy;
  letter-spacing: 1.6px;
}

/* a{
  margin-left: 4rem;
  font-size: 18px;
  font-family: fantasy;
  letter-spacing: 1.6px;
} */

.flexBoxColNav{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo-img-container{
  width: 750px;
  height: 730px;
  /* margin-right: 20px; */
}

.logo-image{
  background-image: url('images/challah-logo.png');
  background-size: cover;
  height: 100%;
}

.title-text{
  font-family: fantasy;
  letter-spacing: 1.5px;
  font-size: 47px;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  color: rgb(206, 162, 133);
  text-shadow: 2px 1px black;
}

.flexBoxColumnInfo{
  flex-direction: column;
  /* width: 100%; */
  justify-content: left;
  align-items: center;
  text-align: left;
  margin: 0 3rem;
}

.info-blurb{
  font-size: 22px;
  font-family: fantasy;
  line-height: 1.8;
  margin-bottom: 2.2rem;
  margin-top: 0;
  letter-spacing: .7px;
  /* text-align: left;
  justify-content: center; */
}

.navBarLayout{
  margin: 1rem 2rem;
}

.aboutText{
  margin-left: 2rem;
}

#navBarLMCName{
  text-decoration: none;
  color: rgb(206, 162, 133);
  text-shadow: 2px 1px black;
}

.pageTitle{
  color: rgb(206, 162, 133);
  text-shadow: 1.5px 1px black;
  font-family: fantasy;
  font-size: 37px;
  font-weight: normal;
  letter-spacing: 1.8px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.imageContainer {
  height: 400px;
  width: 400px;
  display: block;
  margin: 2rem 2rem 2rem 2rem;
  align-items: center;
}

.imageStyle{
  background-size: contain;
  position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
}

/* #pic1{
  align-self: center;
  background-image: url('images/challah0.jpeg');
}

#pic2 {
  background-image: url('images/challah00.JPG');
}

#pic3 {
  background-image: url('images/challah1.jpeg');
}

#pic4 {
  background-image: url('images/challah2.jpeg');
}

#pic5 {
  background-image: url('images/challah3.PNG');
}

#pic6 {
  background-image: url('images/challah4.jpeg');
}

#pic7 {
  background-image: url('images/challah5.jpeg');
}

#pic8 {
  background-image: url('images/challah6.jpeg');
}

#pic9 {
  background-image: url('images/challah7.jpg');
}

#pic10 {
  background-image: url('images/challah8.jpg');
}

#pic11{
  background-image: url('images/challah9.png');
} */

.flexRowGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
  /* height: 400px; */
  justify-content: center;
  align-items: center;
}